<p className="text-[18px] text-black pt-[20px]  border-t-[2px] mt-[20px]">
                  Mercado: {marketname} Localizações:{" "}
                  <Link
                    to={"/app/map"}
                    onClick={() =>
                      searchCoodernates(marketlatitude, marketlogitude)
                    }
                  >
                    <span className="text-[#ccc] hover:text-black">
                      {marketlatitude}, {marketlogitude}
                    </span>
                  </Link>
                  <p className="text-[18px] text-black mt-[20px]">
                    Sector do producto: {sectorname}
                  </p>
                </p>